[submodule ".themes/BlogTheme"]
	path = .themes/BlogTheme
	url = https://github.com/rastersize/BlogTheme.git
[submodule ".themes/cleanpress"]
	path = .themes/cleanpress
	url = https://github.com/macjasp/cleanpress
[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/sevenadrian/MediumFox
[submodule ".themes/constant-cockles"]
	path = .themes/constant-cockles
	url = git://github.com/octothemes/constant-cockles.git
[submodule ".themes/boldandblue"]
	path = .themes/boldandblue
	url = https://github.com/johnkeith/boldandblue.git
